<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TMDB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    
<link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

</head>
<body>

    <div id="navbar">
        <div class="navbar-left">
            <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_long_1-8ba2ac31f354005783fab473602c34c3f4fd207150182061e425d366e4f34596.svg" alt="TMDB Logo">
            <div class="dropdown">
                <a href="#">Movies</a>
                <div class="dropdown-content">
                    <a href="#">Popular</a>
                    <a href="#">Upcoming</a>
                    <a href="#">Top Rated</a>
                    <a href="#">Now Playing</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#">TVShows</a>
                <div class="dropdown-content">
                    <a href="#">Popular</a>
                    <a href="#">Airing Today</a>
                    <a href="#">Top Rated</a>
                    <a href="#">On TV</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#">People</a>
                <div class="dropdown-content">
                    <a href="#">Popular People</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="{{url_for('about')}}">AboutUs</a>
            </div>
        </div>
    
        <!-- Hamburger Icon -->
        <div class="hamburger" onclick="toggleNavbar()">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <button id="darkModeToggle" style="padding-right: 13px; padding-bottom: 3px; padding-left: 150px;">🌙</button>
        <div class="navbar-right">
            <input type="text" id="searchInput" onkeyup="filterMovies()" class="search-box" placeholder="Search for a movie, tv show, person...">
            
            {% if current_user.is_authenticated %}
                {% if current_user.is_admin %}
                    <a href="{{url_for('main')}}" class="wl">➕ Add</a>
                {% endif %}
                <a href="{{url_for('dashboard')}}">{% if name %}{{ name }}{% endif %}</a>
                <a href="{{url_for('logout')}}">Logout</a>
            {% else %}
                <a href="{{url_for('login')}}" class="btn btn-dark mt-3">Login</a>
                <a href="#">Join TMDB</a>
            {% endif %}
        </div>
    </div>

    
    <section class="hero">
        <img src="{{ url_for('static', filename='images/my_image.png') }}" alt="My Image">
        <div class="hero-content">
            <!-- <h1>That's a</h1h1>
            <br>
            <h1>Wrap 2024</h1>
            <p>The best (and worst) of the year from TMDB.</p> -->
            <a href="{{url_for('rating')}}"></a>
        </div>
    </section>

    <div class="trending">
        <h1>Was Trending in &nbsp;<span class="bollywood">2024</span></h1>
        <!-- <button class="active">Today</button>
        <button>This Week</button> -->
    </div>

    <div class="container">
      <div class="cont">
        <div class="movie-slider">
            <a href="{{url_for('card2')}}"><div class="movie-card">
                <img src="https://m.media-amazon.com/images/M/MV5BZTEyYzVjYjEtNWYzZi00NWRhLTgyZjUtNDlkZjBiNWIxYTEwXkEyXkFqcGc@.V1.jpg" alt="Stree 2">
                <div class="rating">75</div>
                <div class="title">Stree 2</div>
                <div class="release-date">Aug 15, 2024</div>
            </div></a>
            
            <div class="movie-card">
                <img src="https://m.media-amazon.com/images/M/MV5BNTc0YmQxMjEtODI5MC00NjFiLTlkMWUtOGQ5NjFmYWUyZGJhXkEyXkFqcGc@.V1_FMjpg_UX1000.jpg" alt="Dune: Part Two">
                <div class="rating">81</div>
                <div class="title">Dune: Part Two</div>
                <div class="release-date">Mar 1, 2024</div>
            </div>
  
            <div class="movie-card">
                <img src="https://assets-in.bmscdn.com/iedb/movies/images/mobile/thumbnail/xlarge/maharaja-hindi-et00402946-1719504211.jpg" alt="Maharaja">
                <div class="rating">84</div>
                <div class="title">Maharaja</div>
                <div class="release-date">Jun 14, 2024</div>
            </div>

            <div class="movie-card">
                <img src="https://m.media-amazon.com/images/M/MV5BNTcwYWE1NTYtOWNiYy00NzY3LWIwY2MtNjJmZDkxNDNmOWE1XkEyXkFqcGc@.V1_FMjpg_UX1000.jpg" alt="Furiosa: A Mad Max Saga">
                <div class="rating">75</div>
                <div class="title">Furiosa: A Mad Max Saga</div>
                <div class="release-date">May 23, 2024</div>
            </div>
  
            
            <div class="movie-card">
                <img src="https://static.toiimg.com/photo/98118331.cms" alt="Laapataa Ladies">
                <div class="rating">85</div>
                <div class="title">Laapataa Ladies</div>
                <div class="release-date">Mar 1, 2024</div>
            </div>
            <div class="movie-card">
              <img src="https://upload.wikimedia.org/wikipedia/en/7/70/The_Wild_Robot_poster.jpg" alt="The Wild Robot">
              <div class="rating">85</div>
              <div class="title">The Wild Robot</div>
              <div class="release-date">Oct 18, 2024</div>
          </div>
            <div class="movie-card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhepuML2Jyp2h9cm5BVY-LzITQhOOBSFgt_Q&s" alt="Pushpa 2: The Rule">
            <div class="rating">72</div>
            <div class="title">Pushpa 2: The Rule</div>
            <div class="release-date">Dec 5, 2024</div>
            </div>
            
            <a href="{{url_for('rate_movie')}}"><div class="movie-card">
            <img src="https://m.media-amazon.com/images/M/MV5BZGJmMmE4YTMtMTJmOS00ZTRjLTg0NzctYzczZjY2MTVlNWI0XkEyXkFqcGc@._V1_.jpg" alt="Ghostlight">
            <div class="rating">84</div>
            <div class="title">Jatt & Juliet 3</div>
            <div class="release-date">Jun 28, 2024</div>
            </div></a>
            <div class="movie-card">
              <img src="https://m.media-amazon.com/images/M/MV5BMTBkODE2ZTQtZGQzZi00OWVlLTk0M2UtMjcxMjk5ZTA5N2IzXkEyXkFqcGc@.V1.jpg" alt="Chandu Champion">
              <div class="rating">78</div>
              <div class="title">Chandu Champion</div>
              <div class="release-date">Jun 14, 2024</div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="trailers-panel">
        <h2>Latest Trailers & Teaser</h2>
        <div class="trailers-grid">

            <div class="trailer-card">
                <a href="https://youtu.be/N3J2JRQg040?si=Iw8IHtQy0wh0m69t" target="_blank"><img src="https://media.themoviedb.org/t/p/w355_and_h200_multi_faces/7CaXcLBWf41nHyX33DmpIpcOSg4.jpg" alt="Trailer Thumbnail"></a>
                <a href="https://youtu.be/N3J2JRQg040?si=Iw8IHtQy0wh0m69t" target="_blank"><i class="fa-solid fa-play icon" style="color: white;"></i></a>
                <h3>Your Friendly Neighborhood Spiderman</h3>
              </div>

            <div class="trailer-card">
                <a href="https://youtu.be/l2AMaPCsJIQ?si=qCoUBp1uYQLpyGXU" target="_blank"><img src="https://i0.wp.com/grehlakshmi.com/wp-content/uploads/2024/12/Sikandar.webp?fit=1200%2C675&ssl=1" alt="Trailer Thumbnail"></a>
                <a href="https://youtu.be/l2AMaPCsJIQ?si=qCoUBp1uYQLpyGXU"><i class="fa-solid fa-play icon" style="color: white;"></i></a>
            <h3>Sikandar</h3>
            </div>


            <div class="trailer-card">
                <a href="https://youtu.be/uhUht6vAsMY?si=ttyZnAeraHac0wX6" target="_blank"><img src="https://www.hollywoodreporter.com/wp-content/uploads/2024/12/Screenshot20241219at120935%E2%80%AFPMH-2024.jpg?w=1296&h=730&crop=1" alt="Trailer Thumbnail"></a>
                <a href="https://youtu.be/uhUht6vAsMY?si=ttyZnAeraHac0wX6"><i class="fa-solid fa-play icon" style="color: white;"></i></a>
            <h3>Superman</h3>
            </div>

            <div class="trailer-card">
                <a href="https://youtu.be/CnEOLuCojY0?si=z_6kHve2rxsMs7dD" target="_blank"><img src="https://i.ytimg.com/vi/b32q_DpXrtA/maxresdefault.jpg" alt="Trailer Thumbnail"></a>
                <a href="https://youtu.be/CnEOLuCojY0?si=z_6kHve2rxsMs7dD"><i class="fa-solid fa-play icon" style="color: white;"></i></a>
            <h3>The Diplomat</h3>
            </div>

            

            <div class="trailer-card">
                <a href="https://youtu.be/AzMo-FgRp64?si=2PfCGOOR-WrqYJcr" target="_blank"><img src="https://media.themoviedb.org/t/p/w355_and_h200_multi_faces/unthV1mq9llhEinIMPcCUImFodt.jpg" alt="Trailer Thumbnail"></a>
                <a href="https://youtu.be/AzMo-FgRp64?si=2PfCGOOR-WrqYJcr"><i class="fa-solid fa-play icon" style="color: white;"></i></a>
                <h3>The Fantastic Four: First Steps</h3>
            </div>

          <div class="trailer-card">
            <a href="https://youtu.be/UL66Jzlnk24?si=D1lqL4E1g_GL0U-e" target="_blank"><img src="https://media.themoviedb.org/t/p/w355_and_h200_multi_faces/qTfbBxJnTX6G3p9dGsgi6HFNCFZ.jpg" alt="Trailer Thumbnail"></a>
            <a href="https://youtu.be/UL66Jzlnk24?si=D1lqL4E1g_GL0U-e"><i class="fa-solid fa-play icon" style="color: white;"></i></a>
            <h3>Thunderbolts</h3>
          </div>

          <div class="trailer-card">
            <a href="https://youtu.be/22w7z_lT6YM?si=Wn-c1yFb-aWKv40C" target="_blank"><img src="https://media.themoviedb.org/t/p/w355_and_h200_multi_faces/7HqLLVjdjhXS0Qoz1SgZofhkIpE.jpg" alt="Trailer Thumbnail"></a>
            <a href="https://youtu.be/22w7z_lT6YM?si=Wn-c1yFb-aWKv40C"><i class="fa-solid fa-play icon" style="color: white;"></i></a>
            <h3>How to train your Dragon</h3>
          </div>

          <div class="trailer-card">
            <a href="https://youtu.be/1pHDWnXmK7Y?si=4CBf2bqcvXYinIlj" target="_blank"><img src="https://media.themoviedb.org/t/p/w355_and_h200_multi_faces/8eifdha9GQeZAkexgtD45546XKx.jpg" alt="Trailer Thumbnail"></a>
            <a href="https://youtu.be/1pHDWnXmK7Y?si=4CBf2bqcvXYinIlj"><i class="fa-solid fa-play icon" style="color: white;"></i></a>
            <h3>Captain America: Brave New World</h3>
          </div>
          
        </div>
    </div>

    <div class="trending">
        <h1>What's popular in &nbsp;<span class="bollywood">Bollywood</span></h1>
    </div>

    <div class="container">
      
        <div class="movie-slider">
            <div class="movie-card">
                <img src="https://assets.gadgets360cdn.com/pricee/assets/product/202206/Jawan-poster_1655912386.jpg" alt="Jawan">
                <div class="rating">84</div>
                <div class="title">Jawan</div>
                <div class="release-date">Sep 7, 2023</div>
            </div>
            
            <div class="movie-card">
                <img src="https://m.media-amazon.com/images/M/MV5BNzc4ZWQ3NmYtODE0Ny00YTQ4LTlkZWItNTBkMGQ0MmUwMmJlXkEyXkFqcGc@.V1_FMjpg_UX1000.jpg" alt="3 Idiots">
                <div class="rating">87</div>
                <div class="title">3 Idiots</div>
                <div class="release-date">Dec 25, 2009</div>
            </div>
  
            <div class="movie-card">
                <img src="https://i.pinimg.com/736x/16/de/6c/16de6c2bb476f433311efca831c35a2b.jpg" alt="Shershaah">
                <div class="rating">82</div>
                <div class="title">Shershaah</div>
                <div class="release-date">Aug 12, 2021</div>
            </div>
  
            <div class="movie-card">
                <img src="https://m.media-amazon.com/images/M/MV5BM2UwZTNkMmItYmYzOS00MTk3LTg3NDgtNzg5ZjYxNTIzNzY4XkEyXkFqcGc@.V1.jpg" alt="M.S. Dhoni: The Untold Story">
                <div class="rating">67</div>
                <div class="title">M.S. Dhoni: The Untold Story</div>
                <div class="release-date">Sep 30, 2016</div>
            </div>
            
            <div class="movie-card">
                <img src="https://m.media-amazon.com/images/M/MV5BODA4MjM2ODk4OF5BMl5BanBnXkFtZTcwNDgzODk1OQ@@.V1.jpg" alt="Yeh Jawaani Hai Deewani">
                <div class="rating">85</div>
                <div class="title">Yeh Jawaani Hai Deewani</div>
                <div class="release-date">May 31, 2013</div>
            </div>
            <div class="movie-card">
              <img src="https://upload.wikimedia.org/wikipedia/en/4/42/Bhaag_Milkha_Bhaag_poster.jpg" alt="Bhaag Milkha Bhaag">
              <div class="rating">85</div>
              <div class="title">Bhaag Milkha Bhaag</div>
              <div class="release-date">Jul 11, 2013</div>
          </div>
          <div class="movie-card">
            <img src="https://images.justwatch.com/poster/315260027/s332/zindagi-na-milegi-dobara" alt="Zindagi Na Milegi Dobara">
            <div class="rating">80</div>
            <div class="title">Zindagi Na Milegi Dobara</div>
            <div class="release-date">Jul 15, 2011</div>
        </div>
        <div class="movie-card">
                <img src="https://upload.wikimedia.org/wikipedia/en/b/b7/Mission_Mangal.jpg" alt="Mission Mangal">
                <div class="rating">81</div>
                <div class="title">Mission Mangal</div>
                <div class="release-date">Aug 15, 2019</div>
            </div>
            <div class="movie-card">
                <img src="https://upload.wikimedia.org/wikipedia/en/8/8a/Drishyam_2015_film.jpg" alt="Drishyam">
                <div class="rating">85</div>
                <div class="title">Drishyam</div>
                <div class="release-date">Jul 31, 2015</div>
            </div>
            <div class="movie-card">
              <img src="https://resizing.flixster.com/-XZAfHZM39UwaGJIFWKAE8fS0ak=/v3/t/assets/p25126_p_v8_ac.jpg" alt="Dilwale Dulhania Le Jayenge">
              <div class="rating">80</div>
              <div class="title">Dilwale Dulhania Le Jayenge</div>
              <div class="release-date">Oct 20, 1995</div>
          </div>
        </div>
    </div>

    <div class="trending">
        <h1>What's popular in &nbsp;<span class="bollywood">Hollywood</span></h1>
    </div>

    <div class="container">
      
        <div class="movie-slider">
            <div class="movie-card">
                <img src="https://m.media-amazon.com/images/M/MV5BNGEwYjgwOGQtYjg5ZS00Njc1LTk2ZGEtM2QwZWQ2NjdhZTE5XkEyXkFqcGc@.V1_FMjpg_UX1000.jpg" alt="The Godfather">
                <div class="rating">92</div>
                <div class="title">The Godfather</div>
                <div class="release-date">Mar 24, 1972</div>
            </div>
            
            <div class="movie-card">
                <img src="https://m.media-amazon.com/images/M/MV5BOTgyOGQ1NDItNGU3Ny00MjU3LTg2YWEtNmEyYjBiMjI1Y2M5XkEyXkFqcGc@.V1.jpg" alt="Fight Club">
                <div class="rating">88</div>
                <div class="title">Fight Club</div>
                <div class="release-date">Oct 15, 1999</div>
            </div>
  
            <div class="movie-card">
                <img src="https://m.media-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@.V1_FMjpg_UX1000.jpg" alt="The Dark Knight">
                <div class="rating">90</div>
                <div class="title">The Dark Knight</div>
                <div class="release-date">Jul 18, 2008</div>
            </div>
  

            <div class="movie-card">
                <img src="https://m.media-amazon.com/images/M/MV5BMzUzNDM2NzM2MV5BMl5BanBnXkFtZTgwNTM3NTg4OTE@.V1.jpg" alt="La La Land">
                <div class="rating">84</div>
                <div class="title">La La Land</div>
                <div class="release-date">Dec 9, 2016</div>
            </div>


            <div class="movie-card">
                <img src="https://m.media-amazon.com/images/M/MV5BNzY3OWQ5NDktNWQ2OC00ZjdlLThkMmItMDhhNDk3NTFiZGU4XkEyXkFqcGc@.V1_FMjpg_UX1000.jpg" alt="Joker">
                <div class="rating">88</div>
                <div class="title">Joker</div>
                <div class="release-date">Oct 2, 2019</div>
            </div>

            <div class="movie-card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3B9k_uo_Tzz7xgFYdf6CjuAxr1iPnE7E3yg&s" alt="Donnie Darko">
                <div class="rating">91</div>
                <div class="title">Donnie Darko</div>
                <div class="release-date">Oct 26, 2001</div>
            </div>
            
            
            <div class="movie-card">
              <img src="https://movie-reviews.com.au/sites/default/files/ReviewImages/martian_ver6.jpg" alt="The Martian">
              <div class="rating">85</div>
              <div class="title">The Martian</div>
              <div class="release-date">Oct 2, 2015</div>
            </div>
            <div class="movie-card">
            <img src="https://m.media-amazon.com/images/M/MV5BMjAxMzY3NjcxNF5BMl5BanBnXkFtZTcwNTI5OTM0Mw@@.V1_FMjpg_UX1000.jpg" alt="Inception">
            <div class="rating">88</div>
            <div class="title">Inception</div>
            <div class="release-date">Jul 16, 2010</div>
            </div>
            
            
            <div class="movie-card">
              <img src="https://m.media-amazon.com/images/M/MV5BMmFiZGZjMmEtMTA0Ni00MzA2LTljMTYtZGI2MGJmZWYzZTQ2XkEyXkFqcGc@.V1.jpg" alt="Spider-Man: No Way Home">
              <div class="rating">87</div>
              <div class="title">Spider-Man: No Way Home</div>
              <div class="release-date">Dec 17, 2021</div>
          </div>

          <div class="movie-card">
            <img src="https://m.media-amazon.com/images/M/MV5BYzdjMDAxZGItMjI2My00ODA1LTlkNzItOWFjMDU5ZDJlYWY3XkEyXkFqcGc@.V1_FMjpg_UX1000.jpg" alt="Interstellar">
            <div class="rating">92</div>
            <div class="title">Interstellar</div>
            <div class="release-date">Nov 7, 2014</div>
            </div>
        </div>
    </div>

    <div class="trending">
        <h1>What's popular in &nbsp;<span class="bollywood">Tollywood</span></h1>
    </div>

    <div class="container">
      
        <div class="movie-slider">
            <div class="movie-card">
                <img src="https://upload.wikimedia.org/wikipedia/en/d/d7/RRR_Poster.jpg" alt="RRR">
                <div class="rating">89</div>
                <div class="title">RRR</div>
                <div class="release-date">Mar 24, 2022</div>
            </div>
            
            <div class="movie-card">
                <img src="https://m.media-amazon.com/images/M/MV5BM2M0YmIxNzItOWI4My00MmQzLWE0NGYtZTM3NjllNjIwZjc5XkEyXkFqcGc@.V1.jpg" alt="K.G.F: Chapter 1">
                <div class="rating">91</div>
                <div class="title">K.G.F: Chapter 1</div>
                <div class="release-date">Dec 21, 2018</div>
            </div>
  
            <div class="movie-card">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/84/Kantara_poster.jpeg/220px-Kantara_poster.jpeg" alt="Kantara">
                <div class="rating">94</div>
                <div class="title">Kantara</div>
                <div class="release-date">Dec 30, 2022</div>
            </div>

            <div class="movie-card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTABoKLQ646Nb78ewPErsqKmkGr-jQI15hw7g&s" alt="Vikram Vedha">
                <div class="rating">87</div>
                <div class="title">Vikram Vedha</div>
                <div class="release-date">Jul 21, 2017</div>
            </div>
  
            <div class="movie-card">
                <img src="https://m.media-amazon.com/images/M/MV5BM2YxZThhZmEtYzM0Yi00OWYxLWI4NGYtM2Y2ZDNmOGE0ZWQzXkEyXkFqcGc@.V1.jpg" alt="Baahubali: The Beginning">
                <div class="rating">80</div>
                <div class="title">Baahubali: The Beginning</div>
                <div class="release-date">Jul 10, 2015</div>
            </div>
            
            <div class="movie-card">
                <img src="https://m.media-amazon.com/images/M/MV5BOWE4YWEyNjYtMWFiNC00M2IzLWE3ZGMtMjQ0ZGEyOWI1YjAzXkEyXkFqcGc@.V1_FMjpg_UX1000.jpg" alt="Pushpa: The Rise">
                <div class="rating">86</div>
                <div class="title">Pushpa: The Rise</div>
                <div class="release-date">Dec 10, 2021</div>
            </div>
            
          <div class="movie-card">
            <img src="https://upload.wikimedia.org/wikipedia/en/1/10/Jersey_2019_poster.jpg" alt="Jersey">
            <div class="rating">80</div>
            <div class="title">Jersey</div>
            <div class="release-date">Apr 19, 2019</div>
        </div>
        <div class="movie-card">
                <img src="https://m.media-amazon.com/images/I/71i8a-PnChL.AC_UF1000,1000_QL80.jpg" alt="Baahubali 2: The Conclusion">
                <div class="rating">82</div>
                <div class="title">Baahubali 2: The Conclusion</div>
                <div class="release-date">Apr 28, 2017</div>
            </div>
            <div class="movie-card">
                <img src="https://m.media-amazon.com/images/S/pv-target-images/dbe30e1e25813a698e0da679a5968c380bd2d1b4e6966394d4c964c6b3301896.jpg" alt="K.G.F: Chapter 2">
                <div class="rating">86</div>
                <div class="title">K.G.F: Chapter 2</div>
                <div class="release-date">Apr 14, 2022</div>
            </div>
            <div class="movie-card">
              <img src="https://m.media-amazon.com/images/M/MV5BZjllNTdiM2QtYjQ0Ni00ZGM1LWFlYmUtNWY0YjMzYWIxOTYxXkEyXkFqcGc@.V1.jpg" alt="Pushpa 2: The Rule">
              <div class="rating">81</div>
              <div class="title">Pushpa 2: The Rule</div>
              <div class="release-date">Dec 5, 2024</div>
          </div>
        </div>
    </div>

    <section class="features">
        <div class="container">
            <h2 class="section-title fade-in">Why Choose TMDB?</h2>
            <div class="feature-grid">
                <div class="feature-card fade-in-up" style="animation-delay: 0.2s">
                    <div class="feature-icon">
                        <svg viewBox="0 0 24 24" width="48" height="48" stroke="currentColor" fill="none">
                            <path d="M19.82 2H4.18C2.97 2 2 2.97 2 4.18v15.64C2 21.03 2.97 22 4.18 22h15.64c1.21 0 2.18-.97 2.18-2.18V4.18C22 2.97 21.03 2 19.82 2z"/>
                            <path d="M7 2v20"/>
                            <path d="M17 2v20"/>
                            <path d="M2 12h20"/>
                            <path d="M2 7h5"/>
                            <path d="M2 17h5"/>
                            <path d="M17 17h5"/>
                            <path d="M17 7h5"/>
                        </svg>
                    </div>
                    <h3>Extensive Database</h3>
                    <p>Access a vast collection of movies and genres from all eras.</p>
                </div>
                <div class="feature-card fade-in-up" style="animation-delay: 0.4s">
                    <div class="feature-icon">
                        <svg viewBox="0 0 24 24" width="48" height="48" stroke="currentColor" fill="none">
                            <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"/>
                        </svg>
                    </div>
                    <h3>Top Recommendations</h3>
                    <p>Get personalized recommendations based on your preferences.</p>
                </div>
                <div class="feature-card fade-in-up" style="animation-delay: 0.6s">
                    <div class="feature-icon">
                        <svg viewBox="0 0 24 24" width="48" height="48" stroke="currentColor" fill="none">
                            <rect x="3" y="4" width="18" height="18" rx="2" ry="2"/>
                            <line x1="16" y1="2" x2="16" y2="6"/>
                            <line x1="8" y1="2" x2="8" y2="6"/>
                            <line x1="3" y1="10" x2="21" y2="10"/>
                        </svg>
                    </div>
                    <h3>Upcoming Releases</h3>
                    <p>Stay updated with the latest movie and genre release dates.</p>
                </div>
            </div>
        </div>
</section>
    

    
    <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg" 
                     alt="TMDB Logo">
            </div>
    
        <div class="footer-links">
            <div class="footer-section">
                <h3>The Basics</h3>
                <ul>
                    <li><a href="{{url_for('about')}}">About TMDB</a></li>
                    <li><a href="{{url_for('contact')}}">Contact Us</a></li>
                    <li><a href="#">Support Forums</a></li>
                    <li><a href="#">API Documentation</a></li>
                    <li><a href="#">System Status</a></li>
                </ul>
            </div>
    
    
            <div class="footer-section">
                <h3>Community</h3>
                <ul>
                    <li><a href="#">Guidelines</a></li>
                    <li><a href="#">Discussions</a></li>
                    <li><a href="#">Leaderboard</a></li>
                </ul>
            </div>
    
            <div class="footer-section">
                <h3>Legal</h3>
                <ul>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">API Terms of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">DMCA Policy</a></li>
                </ul>
            </div>
        </div>

        <div class="social-footer">
            <p class="social-text">Follow <span>TMDB</span> on</p>
            <div class="social-icons" style="margin-top: 15px;">
                <a href="#" class="si"><i class="fab fa-instagram"></i></a>
                <a href="#" class="si"><i class="fab fa-x-twitter"></i></a>
                <a href="#" class="si"><i class="fab fa-youtube"></i></a>
                <a href="#" class="si"><i class="fab fa-facebook"></i></a>
            </div>
        </div>
    
    
        <div class="footer-bottom">
            <p>© 2025 The Movie Database (TMDB).  All rights reserved.</p>
        </div>
    </footer>

    <button class="scroll-to-top" id="scrollTopBtn">⬆</button>
    <script>
        window.onload = function() {
        let prevScrollPos = window.pageYOffset;
        const navbar = document.getElementById('navbar');
    
        window.onscroll = function() {
            let currentScrollPos = window.pageYOffset;
            if (prevScrollPos > currentScrollPos) {
                navbar.style.top = "0";
            } else {
                navbar.style.top = "-80px"; // Adjust according to navbar height
            }
            prevScrollPos = currentScrollPos;
        };
    };
    
    // Function to filter movies based on the search input
    function filterMovies() {
        var input, filter, movies, movieTitle, i;
        input = document.getElementById("searchInput");
        filter = input.value.toLowerCase();
        movies = document.querySelectorAll(".movie-card");
    
        for (i = 0; i < movies.length; i++) {
            movieTitle = movies[i].querySelector(".title");
            if (movieTitle) {
                if (movieTitle.innerText.toLowerCase().indexOf(filter) > -1) {
                    movies[i].classList.remove("hidden");
                } else {
                    movies[i].classList.add("hidden");
                }
            }
        }
    }
    document.addEventListener("DOMContentLoaded", function () {
                const darkModeToggle = document.querySelector("#darkModeToggle"); // Use querySelector to be more specific
                const body = document.body;
    
                if (localStorage.getItem("dark-mode") === "enabled") {
                    body.classList.add("dark-mode");
                    darkModeToggle.innerHTML = "☀";
                } else {
                    darkModeToggle.innerHTML = "🌙";
                }
    
                darkModeToggle.addEventListener("click", function () {
                    body.classList.toggle("dark-mode");
    
                    if (body.classList.contains("dark-mode")) {
                        darkModeToggle.innerHTML = "☀";
                        localStorage.setItem("dark-mode", "enabled");
                    } else {
                        darkModeToggle.innerHTML = "🌙";
                        localStorage.setItem("dark-mode", "disabled");
                    }
                });
            });
            const scrollToTopBtn = document.getElementById('scrollTopBtn');
      window.onscroll = function() {
        if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200) {
          scrollToTopBtn.style.display = 'block';
        } else {
          scrollToTopBtn.style.display = 'none';
        }
      };

      scrollToTopBtn.onclick = function() {
        window.scrollTo({
          top: 0,
          behavior: 'smooth'
        });
      };
    
    
    </script>
</body>
</html>

